@media (max-width: 1400px) {
    .main-acc-right {
        width: 100%;
        justify-content: center;
        margin: 30px 0 0;
    }
    .main-airpods21 {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .header-menu {
        row-gap: 10px;
    }
}

@media (max-width: 991px) {
    .navbar-btn {
        background-color: var(--light-mode);
    }
    .nav-top__dropdown {
        margin: 0;
        position: relative;
    }
    .navbar-nav__dropdown {
        margin: 0 0 5px -12px !important;
    }
    .nav-top__link {
        margin: 0 !important;
    }
    .navbar-top {
        padding: 0 0 0 30px !important;
    }
    .footer-search {
        margin: 20px 0 0;
    }
    .footer-nav {
        display: flex;
        justify-content: center;
    }
    .psconsole-box {
        position: static;
        align-items: center;
    }
    .navbar-search {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .main-card__title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .main-items {
        justify-content: center !important;
    }
    .footer-form {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-form {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }
    .footer-search__text {
        text-align: center;
    }
    .footer-navbar {
        max-width: 100% !important;
        width: 100% !important;
    }
    .footer-search__btn {
        max-width: 190px;
        width: 100%;
    }

}
